.contenedorpadre{
	display: grid;
	grid-template-areas: 
	"frase"
	"video";
	grid-auto-columns: 100%;
	grid-template-rows: auto auto;
}

.frase{
	grid-area: frase;
	width: 100%;
}

.video{
	grid-area: video;
	width: 100%;
}








